{
  "tenant": "{AUTH0_TENANT_ID}",
  "domain": "{AUTH0_TENANT_DOMAIN}",
  "clientId": "{AUTH0_TENANT_CLIENT_ID}",
  "authorizationParams": {
    "audience": "{API_IDENTIFIER}"
  },
  "mgt": {
    "aud":"{AUTH0_MANAGEMENT_API_IDENTIFIER}",
    "clientId":"{AUTH0_MANAGEMENT_API_CLIENT_ID}",
    "clientSecret":"{AUTH0_MANAGEMENT_API_CLIENT_SECRET}",
  }
}
